## Arithmetic Operators

In [2]:
# Addition operator

1 + 1

2

In [3]:
# Multiplication operator

4 * 5

20

In [4]:
# Exponent operator 

5 ** 2

25

In [5]:
# Division operator, this will always give a float or decimal value.

20 / 5

4.0

In [6]:
16 / 3

5.333333333333333

In [7]:
# Modulus operator, this will give the remainder of any division as the output.

20 % 6

2

#### Arithmetic operators with strings

In [ ]:
# string addition

'string 1 ' + 'string 2'

'string 1 string 2'

In [ ]:
# string multiplication

'string 1 --' * 4

'string 1 --string 1 --string 1 --string 1 --'

In [ ]:
# need a str datatype not int to concatenate it.

' 1' + 4

TypeError: can only concatenate str (not "int") to str

## Comparison, Logical, and Membership Operators

#### Comparison Operators

In [1]:
True == True

True

In [2]:
4 < 5

True

In [3]:
5 <= 5

True

In [4]:
5 > 2

True

In [5]:
5 >= 2

True

#### Logical Operators (and, or, not)

In [8]:
# both sides have to be true.

True and True

True

In [7]:
True and False

False

In [9]:
True or False

True

In [10]:
False or False

False

In [11]:
# basically flips the  operator

not True

False

In [13]:
not False

True

#### Membership Operators

In [14]:
# they are 'in' and 'not in'.

1 in [1,2,3,4,5]

True

In [15]:
10 not in [1,2,3,4,5]

True

In [16]:
'cat' not in 'my pet cat'

False